//- messages is a global variable from express messages. it will be used to alert user of registration and survey messages
.messages
  each type in Object.keys(messages)
      each message in messages[type]
        div(class="alert alert-"+type) #{message}