extends layout

block content
  .container
    h1 Register
    form(method='POST', action='/users/register')
      #form-group
        label Email:
        input.form-control(name='username', required, type='email')
      #form-group
        label Password:
        input.form-control(name='password',required, type='password')
      #form-group
        label Confirm:
        input.form-control(name='password2',required, type='password')
      br
      button.btn.btn-primary(type='submit') Create Account
