extends ../layout

mixin question()
  div.questionArea
    .form-group.col-md-4
      label(for='questionType') Question Type
      select#questionType.form-control(name='questionType')
        option(selected='true', value=1) Multiple Choice
        option(value=2) Short Answer
    .form-group
      label(for="questionEntry") Question
      input#questionEntry.form-control(name="questionEntry")
      div.multipleChoice
        .form-group
          input#option.form-control(name="option1", placeholder="enter option")
          input#option.form-control(name="option1", placeholder="enter option")
      .form-group
        button.btn.btn-danger(type="submit") Add Option

block content
  .container
    h1 Create a Survey
    form(method="post")
      .form-group
        label(for="surveyTitle") Survey Title:
        input#name.form-control(type="text", name="surveyTitle")
      +question()
      hr
      .form-group
        button.btn.btn-primary(type="submit") Add Question 
      .form-group
        button.btn.btn-success(type="submit") Create Survey
